{% extends "layout.html" %}
{%block body%}
<div class="col-6 container" style="margin-bottom: 8em">
    <h3>Hakkımızda</h3>
    <hr>
        <p style="text-align: justify;">2020 yılında Necmettin Erbakan Üniversitesi Bilgisayar Mühendisliğinden mezun oldum. 2021 Ağustos 
        ayından itibaren Ayyıldızsoft Yazılım&Reklam Ajansı'nda mobil uygulama geliştirici olarak görev aldım. 
        Flutter ile Ios ve Android platformları için geliştirilen bir çok projede yer aldım. Laravel API ile 
        uygulamaların backend kısımlarını yazdım ve CPanele taşıdım. MySql veritabanı bağlantılarını yaptım. 
        Müşterilerin isteklerini anlayıp, bu doğrultuda oluşturulan arayüz tasarımlarından, uygulamaların markete 
        yüklenme aşamasına kadar olan süreçlere hakimim. İş yoğunluğuna göre web projelerinde hata çözme ve arayüz 
        düzenleme görevleri de aldım. 2022 Ekim ayından itibaren Terra Software Informatics LLC. de yazılım geliştirici 
        olarak görev almaktayım. Ios ve Android platformları için geliştirilen uygulamaların geliştirilmesinde, Java-Kotlin-PHP 
        backend geliştirme, sensör ve konum bilgilerini uygulamalara işleme tarafında görev almaktayım. </p>
        <br>
        <p style="text-align: justify;">Kariyerimdeki önemli adımlardan birini Python Backend Bootcamp de yer aldığım projelerde atmış olduğuma inanmakla 
        birlikte python backend geliştirici pozisyonunun hedeflerimle doğrudan uyumlu olduğunu gözlemledim.</p>
        <br>
        <p style="text-align: right;">Fadimana Kilci</p>
        <p style="text-align: right;">Mobil Uygulama Geliştirici</p>
        <p style="text-align: right;">Terra Software Informatics LLC.</p>
        <p style="text-align: right;">fadimekilci07@gmail.com</p>
        <p style="text-align: right;">+90 541-632-3539</p>
        <p style="text-align: right;">Meram / Konya</p>

    <hr>
</div>
{%endblock body%}