{% extends "layout.html" %}
{% block body %}
    <div class="col-10 container" style="margin-bottom: 10em; margin-top:0px; text-align:center">
        {% if blog %}
            <h4>{{blog.title}}</h4>
            <br>
            <p align="left"><strong>Yazar:</strong>  {{user.name}}</p>
            <p align="left"><strong>Tarih:</strong>  {{blog.created_at}}</p>
            <br>
            <p align="justify">{{ blog.content|safe }}</p>

        {% else %}
            <div class="alert alert-warning">
                Böyle bir blog bulunmamaktadır..
            </div>
        {% endif %}
    </div>
{% endblock body %}
