{% extends "layout.html" %}
{%block body%}
<div class="col-6 container" style="margin-bottom: 8em; text-align: center;">
    <h3>İletişim</h3>
    <hr>
        <p style="text-align: center;">Fadimana Kilci</p>
        <p style="text-align: center;">Mobil Uygulama Geliştirici</p>
        <p style="text-align: center;">Terra Software Informatics LLC.</p>
        <p style="text-align: center;">fadimekilci07@gmail.com</p>
        <p style="text-align: center;">+90 541-632-3539</p>
        <p style="text-align: center;">Meram / Konya</p>
    <hr>
</div>
{%endblock body%}